@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page-layout {
    max-width: 1280px;
    margin: 0 auto;
}

/*------------------------------ Navigation bar section ------------------------------ */

.header {
    display: flex;
    flex-flow: column wrap;
}

.header .logo {
    font-family: 'Roboto';
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
    /* -------------- */
    margin-top: 61px; margin-bottom: 38px;  
}

.header .logo--decorated {
    color: #4bcaff;
}

.header .menu ul { /* Navbar */
    background-color: #35444F;
    /* -------------- */
    display: flex;
    justify-content: flex-end;
}

.header .menu ul li { /* Button border */
    border-left: 1px solid white;
    /* -------------- */
    height: 72px;
}

.header .menu ul li:last-child {
    border-right: 1px solid white;
}

.header .menu ul li a { /* Link */
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
    color: white;
    text-decoration: none;
    text-align: center;
    /* -------------- */
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* -------------- */
    height: 100%;
    padding-left: 38px; padding-right: 38px;
}

.header .menu ul li a:hover { /* Hover link */
    background-color: #222F3A;
}


/*------------------------------ Main section ------------------------------ */

.main {
    display: flex;
    justify-content: space-between;
    /* -------------- */
    margin: 50px 0;
}

.main .left-menu {
    margin-right: 50px;
}

.main .left-menu ul { /* Menu border */
    border: 1px solid #000000;
    /* -------------- */
    display: flex;
    flex-direction: column;
    /* ------Box-size------ */
    width: 344px; height: 399px;
}

.main .left-menu ul li { /* Button-height */
    height: 100%;
}

.main .left-menu ul a { /* Link */
    font-size: 27px;
    font-family: 'Roboto';
    color: #495863;
    text-decoration: none;
    /* -------------- */
    display: flex;
    align-items: center;
    /* -------------- */
    height: 100%;
    padding: 0 44px;
}

.main .left-menu ul a:hover { /* Hover link */
    color: #35444F;
    background-color: #DBDBDB;
    /* -------------- */
    justify-content: center;
}

.main .right-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main .right-content p {
    font-size: 18px;
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    /* -------------- */
    padding-top: 27px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #000000;
    /* -------------- */
    width: 100%; height: 530px;

}

.img .transform:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

/*------------------------------ Footer section ------------------------------ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(99, 105, 110, 0.48);
    /* -------------- */
    min-height: 69px;
    padding: 0 40px;
}

.footer .menu ul {
    display: flex;
    flex-wrap: wrap;
}

.footer .menu ul li {
    margin: 0 20px;
}

.footer .menu ul li:first-child {
    margin-left: 0px;
}

.footer .menu ul a {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Roboto';
    color: #010101;
    text-decoration: none;
    border-bottom: 2px transparent;
    /* -------------- */
    display: block;
    /* -------------- */
    padding: 10px 0;
}

.footer .menu ul a:hover {
    color: #3181A6;
    border-bottom: 2px solid;
    /* -------------- */
    padding-bottom: 8px;
}

.footer p {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Roboto';
    color: #010101;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .header .menu ul, .main, .footer .menu ul {
        flex-direction: column;
    }

    .header .menu ul li, .main, .footer .menu ul li{
        border: none;
        margin: 0;
    }

    .header .menu ul a {
        justify-content: center;
    }
}
