@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

img {display: block;}

.page-structure {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -------------- */
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}

/*=============================== Header section =============================== */

.company-info {
    display: flex;
    justify-content: space-between;
    /* -------------- */
    margin-top: 40px; margin-bottom: 20px;
}

.company-info .company-logo {
    text-decoration: none;
    /* -------------- */
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
    grid-gap: 1px 9px;
    /* -------------- */
    margin: 5px 0;
}

.company-logo__img {
    background: url('../img/company-logo.png') 
        no-repeat -83px -10px;
	width: 53px; height: 47px;
}

.company-logo .company-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    /* -------------- */
    display: grid;
    grid-row-gap: 4px;
}

.company-logo .company-name .top-wrd {
    font-size: 29px;
    line-height: 29px;
}

.company-logo:hover .company-logo__img{
    background: url('../img/company-logo.png') 
        no-repeat -10px -10px;
}

.company-logo:hover .company-name,
.rs-contacts :hover {
    color: #F26522;
}

.rs-contacts { /* right side contacts */
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;
    /* -------------- */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.rs-contacts a{
    text-decoration: none;
    color: white;
}

/*================================ Main section ================================ */

.company-tours {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 37px;
    grid-column-gap: 60px;
}

.company-tours__link {
    text-decoration: none;
    transition: .4s ease-in-out;
}

.company-tours__link:hover figcaption{
    color: #F26522;
}

.card {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
    /* -------------- */
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-row-gap: 20px;
}

.img-frame {
    position: relative;
    border: 4px solid;
    border-image: linear-gradient( white, black) 25;
}

.img-frame .img-info {
    position: absolute;
    color: white;
    transition: .4s ease-in-out;
    opacity: 0;
    /* -------------- */
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: 
    "from from"
    "price details";
    /* -------------- */
    width: 100%; height: 25%;
    bottom: -10px;
}

.img-frame:hover .img-info {
    box-shadow: inset 0 -60px 0 #F26522;
    opacity: 1;
    /* -------------- */
    bottom: 0;
}

.img-info .from {
    grid-area: from;
    justify-self: start;
    font-size: 10px;
    line-height: 10px;
    padding: 0 16px;
}

.img-info .price {
    grid-area: price;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
}

.img-info .details {
    grid-area: details;
    font-size: 14px;
    line-height: 14px;
}

.img-info .details::after {
    content: ">";
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
}
/*=============================== Footer section =============================== */

footer {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 12px;
    color: white;
    /* -------------- */
    justify-self: center;
    /* -------------- */
    margin: 15px 0;
}