@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 

.page-layout {
    background: url("../img/header-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrap {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

/*=============================== Header =============================== */

.page-header {
    
}

.page-header .nav-bar {
    background-color: #313131;
    /* -------------- */
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

/*================================ Main ================================ */
