@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 

.page-layout{
    max-width: 1280px;
    margin: 0 auto;
}

.button {
    background-color: #FF0000;
    border-radius: 4px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 43px; /* button size */
}

/*------------------------------ Navigation bar section ------------------------------ */

.nav-menu-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Size of each navbar element */
.nav-menu-list__item {
    margin: 0px 36px;
    padding: 26px 0;
}

/* And the last one have special margin-left */
.nav-menu-list__item:last-child{
    margin-left: 14px;
}

.nav-menu-list__item a{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-menu-img{
    background-image: url("../img/hand-holding-a-smartphone.jpg");
    height: 789px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*------------------------------ Main section ------------------------------ */

.description-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 38px;
    margin: 0px 150px;
}

.description-title h2{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #373737;
}

.description-content {
    margin: 0px 68px;
}

.description-content__text{
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: center;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
    padding: 14px 0px; /* top and bottom indent */
}

.description-content__text.first{ /* for the first paragraph */
    padding-top: 0px;
}

.description-content__text.last{ /* for the last paragraph */
    padding-bottom: 0px;
}

/* Container for button */
.description-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 42px;
}

/*------------------------------ Footer section ------------------------------ */
.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 29px;
}

.copyright p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
}



