@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700&display=swap');

.page-layout {
    background: black;
    overflow: hidden;
    /* -------------- */
    width: 100%; height: 100%;
}

/*================================ Main section ================================ */

main {
    font-family: 'Droid Sans';
	font-weight: 700;
    color: yellow;
}

.title {
    text-align: center;
    padding-bottom: 3em;
}

.episode
{
	position: absolute;
	font-size: 550%;
	font-weight: bold;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(15deg);
    /* -------------- */
    width: 16em; 
    height: 30em;
    bottom: 0; 
    left: 50%;
    margin: 0 -8em;
}

.container
{
	position: absolute;
	top: 100%;
	animation: scroll 30s linear infinite;
}

.plot p {
    line-height: 1.5;
    margin: 1em 0;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -100%; }
}