@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.container img, .content img {
    max-width: 100%; 
    max-height: 100%;
    height: auto; width: auto;
}

.title{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

html {
    overflow: hidden;
}

.page{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.parallax-section {
    position: relative;
    /* width: 100%;
    height: 100vh; */
    overflow: hidden;
}

.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

/*============================== Navigation bar section ============================== */

.navbar {
    background-color: #313131;
    /* -------------- */
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    /* -------------- */
    display: flex;
    align-items: center;
    /* -------------- */
    margin: 22px 0;
    padding-right: 22px;
}

.navbar .logo__img {
    padding: 0 27px;
}

.navbar .list { 
    display: flex;
    align-items: center;
    /* -------------- */
    padding: 0 22px;
}

.navbar .item {
    padding-left: 35px;
}

.navbar .item:first-child {
    padding: 0;
}

.navbar .item a { /* Link */
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.navbar .srch-btn {
    background-color: black;
    border: none;
    color: white;
    outline: none;
    /* -------------- */
    padding: 0 28px;
}

.navbar .srch-btn:hover,
.navbar .item a:hover{
    color:  #14B9D5;
}

/*=============================== Header section =============================== */

.the-latest-news {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* -------------- */
    min-height: 369px;
    height:auto;
}

.the-latest-news::before {
    background-image: url("../img/header-bg-city-landscape.jpeg");
}

.the-latest-news .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* -------------- */
    height: 70%;
}

.the-latest-news .title {
    color: #FFFFFF;
}

.the-latest-news .btn-bar {
    display: flex;
    justify-content: center;
}

.the-latest-news .btn-bar .btn {
    border-radius: 4px;
    /* -------------- */
    display: flex;
    align-items: center;
    /* -------------- */
    min-width: 170px; min-height: 50px;
    margin: 0 10px;
}

.the-latest-news .btn-bar .btn a{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: inherit;
    transition: .4s ease-in-out;
    /* -------------- */
    width: 100%;
    padding: 13px 10px;
}

.the-latest-news .btn-bar .btn.subscribe { background-color: #89CA62; }
.the-latest-news .btn-bar .btn.best-articles { background-color: #14B9D5;}

 .btn.subscribe a:hover {
    background: #a8e470;
    box-shadow: inset 38px 0 0 #a8e470, 
    inset -38px 0 0 #a8e470,
    0 0 15px #d6ffb4;
 }

 .btn.subscribe a span {
    opacity: 0;
    transition: 0.4s ease-in-out;
 }
 .btn.subscribe a:hover span {
    opacity: 1;
    padding: 0 5px;
    color: white;
 }

 .btn.best-articles a:hover {
    box-shadow: inset 0 -60px 0 #5ae3fc;
    transform: translateY(-7px);
 }

/*=============================== Main section =============================== */

.popular-posts .title,
.top-rated .title,
.hot-news .title{
        padding: 48px 0;
}

.img-frame {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    /* -------------- */
    margin: 15px;
}

.img-frame figcaption{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    /* -------------- */
    padding: 10px 0
}

.img-frame p{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.img-frame img{
    transition: .3s ease-in-out;
}

.img-frame img:hover{
    opacity: .7;
}

.popular-posts{
    background-color: #F2F2F2;
    width: 100%;
    /* -------------- */
    padding-bottom: 50px;
}

.popular-posts .container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    /* -------------- */
    height: 826px;
}

.popular-posts .container .img-frame:nth-child(3n+1) { order: 1; }
.popular-posts .container .img-frame:nth-child(3n+2) { order: 2; }
.popular-posts .container .img-frame:nth-child(3n)   { order: 3; }

.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* -------------- */
    min-height: 588px;
    height: auto;
}

.our-clients::before {
    background-image: url("../img/parallax-bg-the-glass-front-door.jpeg");
}

.our-clients .title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-clients .title::after {
    content: '';
    display: block;
    position: absolute;
    background: #18B4CF;
    /* -------------- */
    width: 60px; height: 3px;
    top: 48%;
    left: 50%;
}

.our-clients .logo-bar {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 50px;
    align-items: center;
}

.our-clients .logo-bar a{
    transition: .4s ease-in-out;
    padding-bottom: 10px;
    border: 3px solid transparent;
}

.our-clients .logo-bar a:hover{
    border-bottom: 3px solid #18B4CF;
}

.top-rated, .hot-news {
    background: rgba(0, 0, 0, 0.0001);
}

.top-rated .content{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    justify-self: center;
}

.top-rated .content img{
    transition: .3s ease-in-out;
}

.top-rated .content img:hover{
    transform: scale(1.3);
}

.hot-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hot-news .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 45px;
    grid-row-gap: 35px;
    /* -------------- */
    width: 1170px;
    margin-bottom: 50px;
}

.hot-news .img-frame {
    background: #F2F2F2;
    grid-column: span 2;
    /* -------------- */
    display: grid;
    /* -------------- */
    margin: 0;
}

.hot-news .img-frame.small {
    grid-template:
    'img' 
    'f';
}

.hot-news .img-frame.down {
    grid-template:
    'img' 
    'f' 
    'p';
}

.hot-news .img-frame.right {
    grid-template-areas:
    'img  f' 
    'img  p';
    grid-template-columns: 5fr 4fr;
}

.hot-news .container .img-frame:first-child {
    grid-column: 1 / span 3;
}
.hot-news .container .img-frame:nth-child(2){
    grid-column: 4;
}
.hot-news .container .img-frame:nth-last-child(2){
    grid-column: 1;
}
.hot-news .container .img-frame:last-child {
    grid-column: 2 / span 3;
}

.hot-news .img-frame .img-link {
    grid-area: img;
    /* -------------- */
    display: flex;
}

.hot-news .img-frame .img-link img{
    width: 100%;
}

.hot-news .img-frame figcaption{
    grid-area: f;
    align-self: end;
    justify-self: end;
    /* -------------- */
    padding: 20px;
}

.hot-news .img-frame.small figcaption {
    align-self: center;
    justify-self: center;
}

.hot-news .img-frame p{
    grid-area: p;
    text-align: right;
    /* -------------- */
    padding-right: 20px; padding-left: 20px;
    padding-bottom: 20px;
}


/*============================== Footer section ============================== */

.footer {
    background-color: black;
    /* -------------- */
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    /* -------------- */
    padding: 30px 0;
}

.footer p{
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.footer .logo{
    display: grid;
    grid-auto-flow: column;
}


